# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Env
.env
.venv/
venv/

# App data
instance/
uploads/

# Notebooks (hide in VCS)
*.ipynb

# Frontend
frontend/node_modules/
frontend/dist/
frontend/package-lock.json

# VS Code
.history/
.vscode/
.mypy_cache/

# Test results
MyTestResults/

# migrations
migrations/

# datasets
data/