# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Env
.env
.venv/
venv/

# App data
instance/
uploads/

# Notebooks (hide in VCS)
*.ipynb

# Frontend
frontend/node_modules/
frontend/dist/

# VS Code
.history/
